<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ValidacionSiacEndpoint" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51773/ValidacionesSiacServiceReference.svc"
                binding="basicHttpBinding" bindingConfiguration="ValidacionSiacEndpoint"
                contract="ServiceReference.ValidacionesSiacServiceContract"
                name="ValidacionSiacEndpoint" />
        </client>
    </system.serviceModel>
</configuration>